<!-- <agm-map [latitude]="options.lat" [longitude]="options.lng" #agmMap>
  <agm-drawing-manager (polygonComplete)="polygonCreated($event)" [drawingControl]="managerOptions.drawingControl" [drawingControlOptions]="managerOptions.drawingControlOptions"
    [polygonOptions]='managerOptions.polygonOptions' [drawingMode]='managerOptions.drawingMode'>
  </agm-drawing-manager>
</agm-map> -->

<div class="app">
  <div class="layout">
    <app-header></app-header>
    <div class="page-container">
      <app-navbar></app-navbar>

      <div class="main-content">
        <div class="container-fluid">
          <div class="page-title">
              <h4>Zone</h4>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-block">
                    <div class="row">
                      <div class="col-md-2">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus mr-1"></i>Add</button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade show" id="addModal" style="padding: 15px;">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #e6ecf5;">
              <h4>Add Zone</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <form (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="padding-15">
                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Zone Name</label>
                                <input type="text" placeholder="Enter name" class="form-control" [formControl]="name">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Points</label>
                                <input type="number" placeholder="Enter points" class="form-control" [formControl]="points">
                              </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                <label>Active</label>
                                <div class="toggle-checkbox ">
                                  <input type="checkbox" [formControl]="active" id="toggle3" checked>
                                  <label for="toggle3"></label>
                                </div>
                                
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                              <agm-map [latitude]="center.lat" [longitude]="center.lng" (mapReady)="onMapReady($event)"> 
                                  <agm-marker  [latitude]="center.lat" [longitude]="center.lng" ></agm-marker>
                                </agm-map> 
                          </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
	                  <button type="submit" class="btn btn-info waves-effect waves-light">Submit</button>
                </div>
            </form>
            
        </div>
    </div>
</div>